<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Tic Tac Toe</title>
</head>

<body>
  <noscript>
      <strong>We're sorry but Tic Tac Toe doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>