<template>
  <div class="ttt">

    <img :class="{'carltonLeft': true, showWinImage: gameWon}"
      src="http://1.bp.blogspot.com/-HHJGUgtp4nU/UvMQufUOydI/AAAAAAAACKA/Omc4K35V-EE/s1600/daily_gifdump_549_01.gif"/>

    <div>

      <span v-if="gameWon" class="youwon animated infinite tada">
        Player {{ currentPlayerSymbol }}, YOU WON!!!
      </span>

      <span v-else>Player {{ currentPlayerSymbol }} - your turn</span>

      <span class="reset" @click="reset">Reset game!</span>
      
      <div id="board">

        <template v-for="(item, index) in squares">
          <div :class="{'animated': true, 'strike infinite pulse': strikingSquares.includes(squares[index].value)}"
            v-bind:key="index" @click="squareClicked(index)">
          {{squares[index].symbol}}
          </div>
        </template>

      </div>

    </div>

    <img :class="{'carltonRight': true, showWinImage: gameWon}"
      src="http://1.bp.blogspot.com/-HHJGUgtp4nU/UvMQufUOydI/AAAAAAAACKA/Omc4K35V-EE/s1600/daily_gifdump_549_01.gif"/>

  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  name: "board",
  computed: {
    ...mapState(["squares", "currentPlayerSymbol", "strikingSquares"]),
    ...mapGetters(["gameWon"])
  },
  methods: {
    ...mapActions(["setSquare", "reset"]),
    async squareClicked(index) {
      const succeed = await this.setSquare(index);
      if (!succeed) {
        const classList = document.querySelectorAll("#board  div")[index]
          .classList;
        classList.add("shake");
        setTimeout(() => classList.remove("shake"), 500);
      }
    }
  }
};
</script>

<style lang="scss">
.ttt {
  display: flex;
  justify-content: center;
}

#board {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
}

#board > div {
  box-sizing: border-box;
  width: 13.3vw;
  height: 13.3vw;
  background: gold;
  font-size: 10vw;
  border: 2px solid white;
  &.strike {
    background-color: green;
    color: white;
  }
}

.youwon {
  font-size: 35px;
}

.youwon,
.reset {
  display: block;
}
.reset {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.carltonRight,
.carltonLeft {
  display: none;
  height: 26vw;
  &.showWinImage {
    display: block;
  }
}

.carltonRight {
  float: left;
}
.carltonLeft {
  float: right;
}
</style>
